gradle.properties
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.classpath
.factorypath
.project
.settings
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
